.container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px 10px 20px 10px;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.qsCard {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: start;
    max-width: 700px;

}

.qsImage {
    border-radius: 50%;
}

.qsTextArea {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.qsTitle {
    font-weight: 700;
    font-size: 1.5rem;
    color: #ffffff;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -o-text-size-adjust: 100%;
    text-size-adjust: 100%;

}

.qsTitle span {
    color: var(--verde-25);
}

.qsText {
    text-align: justify;
}


.henrique {
    animation: fadeInLeft 1s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.priscilla {
    animation: fadeInRight 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}


@media(max-width: 600px) {
    .container {
        padding: 20px 10px 20px 10px;
        transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .qsCard:first-child {
        flex-direction: column;
        align-items: center;
        transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .qsCard:last-child {
        flex-direction: column-reverse;
        align-items: center;
        transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    }

    .qsText {
        font-size: 0.8rem;
    }
}




@keyframes fadeInLeft {
    from {
        opacity: 0;
        transform: translateX(-100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}

@keyframes fadeInRight {
    from {
        opacity: 0;
        transform: translateX(100px);
    }

    to {
        opacity: 1;
        transform: translateX(0px);
    }
}