@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --verde-100: rgba(6, 113, 49, 100);
  --verde-50: rgba(0, 153, 40, 100);
  --verde-25: rgba(157, 251, 1, 100);
  --azul-100: rgba(0, 52, 149, 100);
  --azul-50: rgba(0, 194, 188, 100);
  --azul-25: rgba(40, 228, 250, 100);

  --azul-100-50: rgba(0, 52, 149, 0.2);
  --azul-25-50: rgba(40, 228, 250, 0.2);
  --verde-100-25: rgba(6, 113, 49, 0.15);

  --swiper-navigation-color: var(--verde-100) !important;

}

html {
  scroll-behavior: smooth;
}

/*
@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*/

body {
  color: var(--foreground);
  background: linear-gradient(135deg, var(--verde-100) 0%, var(--verde-25) 100%);
  font-family: Arial, Helvetica, sans-serif;
  background-repeat: no-repeat;
  background-size: 100vw 100%;
  /* Temporário */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}