.Nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 50px;
}

.NavList {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.NavList li {
    color: #ffffff;
}